@page "/radiobuttons"


<h4>Should this video be age restricted?</h4>

<div class="py-3">
    <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" id="NotAgeRestricted" name="AgeRestrictionRadios" checked>
        <label class="custom-control-label" for="NotAgeRestricted">This video is suitable for all ages</label>
    </div>

    <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" id="AgeRestricted" name="AgeRestrictionRadios">
        <label class="custom-control-label" for="AgeRestricted">This video is 18+</label>
    </div>
</div>


@code {

}
