<div class="card my-4 col-7 container-fluid">
    <div class="card-header bg-transparent">
        <div class="media">
            <img class="rounded-circle mr-3" style="max-width: 64px;" src="300px-Leonardo_DiCaprio_Laughing.jpg" alt="Avatar">
            <div class="my-3"><h5>Username</h5></div>

        </div>
    </div>
    <div class="card-body my-5">
        <img src="free.jpg" alt="unable to load" class="card-img-top">
        
    </div>
    <div class="card-footer bg-transparent">
        <button class="btn" href="#">
            <i class="far fa-heart fa-2x"></i>
        </button>
        <button class="btn" href="#">
            <i class="far fa-comment fa-2x"></i>
        </button>
        <button class="btn" href="#">
            <i class="fas fa-share-alt fa-2x"></i>
        </button>
        <div class="container-fluid">
            <h6 class="card-text my-2">Caption</h6>
        </div>
        <div class="form-group form-inline my-3">
            <img class="rounded-circle mr-3" style="max-width: 64px;" src="300px-Leonardo_DiCaprio_Laughing.jpg" alt="Avatar">
            <input type="text" class="form-control col-11" id="comment" placeholder="write a comment...">
        </div>
    </div>
</div>

@code {

}
