<div class="card col-7 container-fluid border-0">
	<div class="row no-gutters">
		<div class="col-3">
			<div class="embed-responsive-16by9">
				<img src="disappointed.jpg" class="img-fluid" alt="">
			</div>
		</div>
		<div class="col">
			<div class="card-block px-2">
				<h4 class="card-title">Title of video</h4>
				<p class="card-text">Few lines of description</p>
				<a href="/editVideo" class="btn btn-primary">Edit Video</a>
			</div>
		</div>
	</div>
	<hr />
</div>
