@page "/video"

<TopNavBar/>

<div class="container">
    <div class="embed-responsive embed-responsive-16by9">
        <video src="notgoodvodka.mp4" controls></video>
    </div>
    <div class="row mx-2">
        <div>
            <h3 class="my-2">Title of video</h3>
            <div class="row">
                <p class="ml-3 mr-2">views </p>
                <p class="mx-2">date posted</p>
            </div>
        </div>
        <div>
            <button class="btn" href="#">
                <i class="far fa-heart fa-2x"></i>
            </button>
        </div>
    </div>
    
</div>
